* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #212121;
}

.app {
  width: 100%;
  height: 100vh;

  display: flex;

  background: #212121;

  overflow: hidden;

  position: relative;
}

/* Overlay */

.overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.55);

  z-index: 998;

  display: none;
}

/* Desktop */

@media (min-width: 769px) {
  .overlay {
    display: none !important;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .app {
    height: 100dvh;
  }

  .overlay {
    display: block;
  }
}
